  $var title: Mora sin Tuna :: Home
  $var background: site-background
  $var javascriptfile: $None
            <h1 class="cover-heading">Antracnosis en la Mora con Tuna</h1>
            <p class="lead">Captura imágenes y en pocos pasos determina el porcentaje de severidad de antracnosis que tiene la planta y ayuda al sector agroindustrial a mejorar la producción agrícola de la mora.</p>
            <p class="lead">
              <a href="/upload" class="btn btn-lg btn-default">Comenzar</a>
            </p>
